body{
font-family: 'Exo', sans-serif;
  font-size: 20px;
}

header, footer{
  background-image: url(https://2.bp.blogspot.com/-IHUNm2CaRh8/VuK8dGMrAfI/AAAAAAAAHFc/56Zg8dwFuoIXb8icnNlFBhuXHtpPrapMg/s1600/333950.jpg);
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
}

h1{
  text-align: center;
  font-family: 'Ewert', cursive;
  font-size: 50px;
}

#menu{
  text-align: center;
}
li{
  display: inline;
  padding: 10px;
}

a{
  text-decoration: none;
  color: #191970;
}

li:hover{
  color: blue;
  font-size: 30px;
}

#box1{
  border: 1px solid black;
  margin-top: 10px;
}

#biggie{
  padding: 10px;
}

#box2{
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

#three, #four, #fix, #six, #seven, #eight, #finalboss{
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

#pirate, #change{
  font-size: 20px;
  margin-left: 10px;
  border-radius: 10px 30px;
  padding: 10px;
  background-color: lime;
  color: #191970;

}

#answer{
 margin-left: 10px; 
 font-size: 30px;
}

#four{
  border: 1px solid black;
  margin-top: 10px;
}

#dragon{
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto

}

#lee, #Benjamin, #hideandseek{
  font-size: 20px;
  margin-left: 10px;
  border-radius: 10px 30px;
  padding: 10px;
  background-color: lime;
  color: #191970;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#stripes{
  color: red;
}

#beWater{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}


#five{
  border: 1px solid black;
  margin-top: 10px;
}


#lines{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

#ben{
  padding: 10px;
}

#keys{
  padding: 10px;
}

#khaled, #piratecat, #catmoney{
  display: block;
  margin-left: auto;
  margin-right: auto
}

#wedabest,#displayQuotes {
 text-align: center;
  font-size: 40px;
  font-weight: 800;
}

#wedabest{
  color: #B22222;
}

#showmoney{
  display: none;
}

#bossman{
  font-size: 35px;
  color: #191970;
}
#finalboss{
  text-align: center;
  margin-bottom: 10px;
}

#piratecat{
  background-image: url('http://cloudmind.info/wp-content/uploads/2015/10/51dLBTwj0kL._SX300_.jpg');
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}

.products{
  border-top: 1px dotted black;
}

.price{
  display: none;/* initial state*/
  color: #191970;
}

.price:before{
  content: '$';
}

